.contenedor{
  display: grid;
  grid-template-columns: 1fr 750px;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
/*Contenedor de la imagen*/
.contenedor-izquierda{
  background-image: url("/images/fondo-principal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*Contenedor del formulario*/
.contenedor-derecha{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
/*Estilos del formulario*/
.formulario-login{
  text-align: center;
}
.formulario-login h1{
  font-family: Gadugi;
  text-align: center;
  font-size: 6em;
}
.formulario-login h2{
  font-family: Gadugi;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
}
.formulario-login p{
  font-family: Gadugi;
  font-size: 1em;
  color: black;
  text-align: center;
}
/*Estilos del input del email y contrasena*/
.formulario-login label{
  font-family: Gadugi;
  font-size: 1.5em;
  color: black;
  text-align: left;
}
.formulario-login input{
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  font-family: Gadugi;
  border:none;
  background-color: transparent;
  border-bottom: 3px solid black;
  outline: none;
}
.formulario-login input:focus{
  outline: none;
  border-bottom: 3px solid #045E14;
}
.etiqueta-email{
  text-align: left;
}
.etiqueta-password{
  text-align: left;
}
/*Boton de inicio de sesion*/
.formulario-login button{
  font-family: Gadugi;
  font-size: 1.5em;
  color:  #03400E;
  background: #D3E0D5 ;
  border: 2px solid;
  padding: 1rem 2rem;
  margin: 0.5rem;
  transition: 0.25s;
  text-align: center;
  cursor: pointer;
}
.formulario-login button:hover, .formulario-login button:focus{
  color: white;
  background-color: #03400E;
  text-align: center;
  cursor: pointer;
  border: 2px solid #03400E;
}
/*Estilos para el mensaje flotante de pregunta de seguridad y validacion*/

.modal-verificacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-contenido {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  border: 2px solid black;

  text-align: center;
  max-width: 400px;
  width: 90%;
  color: black;
  font-family: Gadugi;
  font-size: 1.5em;
}

.pregunta-texto {
  display: block;
  margin: 15px 0;
  font-weight: bold;
  font-size: 1em;
  color: black;
  font-family: Gadugi;
}

.modal-contenido input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: white;
  border: 1px solid black;
  color: black;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1em;
}

.modal-contenido input:focus {
  border-color: red;
  outline: none;
  font-size: 1em;
}

.modal-botones {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}



.btn-verificar {
  color: white;
  background-color: #03400E;
  transition: all 0.25s ease-in-out;
  font-size: 1em;
  font-family: Gadugi;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}

.btn-verificar:hover {
  background-color: #13450E;
  transform: scale(1.08);
  box-shadow: 0 6px 20px rgba(3, 64, 14, 0.4);
}
