<div class="contenedor-principal">
  <aside class="menu-lateral">
    <div class="logo"></div>
    <nav>

      <!--Boton de menu principal-->
      <a (click)="cambiarSeccion('dashboard')" class="btn" [class.active-btn]="seccionActiva === 'dashboard'">
        <svg width="277" height="62">
          <defs>
            <linearGradient id="grad1">
              <stop offset="0%" stop-color="#8A1919"/>
              <stop offset="100%" stop-color="#13450E" />
            </linearGradient>
          </defs>
          <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
        </svg>

        <span>Main</span>
      </a>



  <!--Boton de ir a receta-->
      <a (click)="cambiarSeccion('recipe-book')" class="btn" [class.active-btn]="seccionActiva === 'recipe-book'">
        <svg width="277" height="62">
          <defs>
            <linearGradient id="grad1">
              <stop offset="0%" stop-color="#8A1919"/>
              <stop offset="100%" stop-color="#13450E" />
            </linearGradient>
          </defs>
          <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
        </svg>

        <span>Go to The Recipe Book</span>
      </a>



      <!--Boton de generar reporte-->
      <a href="http://marcel-pirnay.be/" class="btn">
        <svg width="277" height="62">
          <defs>
            <linearGradient id="grad1">
              <stop offset="0%" stop-color="#FF8282"/>
              <stop offset="100%" stop-color="#E178ED" />
            </linearGradient>
          </defs>
          <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
        </svg>

        <span>Generate a report</span>
      </a>
      <!--Boton de calendario-->
      <a href="http://marcel-pirnay.be/" class="btn">
        <svg width="277" height="62">
          <defs>
            <linearGradient id="grad1">
              <stop offset="0%" stop-color="#FF8282"/>
              <stop offset="100%" stop-color="#E178ED" />
            </linearGradient>
          </defs>
          <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
        </svg>

        <span>My Calendar</span>
      </a>
      <!--Boton de adminsitrar alimentos-->
      <a (click)="cambiarSeccion('manage-food')" class="btn" [class.active-btn]="seccionActiva === 'manage-food'">
      <svg width="277" height="62">
          <defs>
            <linearGradient id="grad1">
              <stop offset="0%" stop-color="#FF8282"/>
              <stop offset="100%" stop-color="#E178ED" />
            </linearGradient>
          </defs>
          <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
        </svg>

        <span>Manage my foods</span>
      </a>
      <!--Boton de administrfar recetas-->
      <a (click)="cambiarSeccion('manage-recipe')" class="btn" [class.active-btn]="seccionActiva === 'manage-recipe'">
      <svg width="277" height="62">
          <defs>
            <linearGradient id="grad1">
              <stop offset="0%" stop-color="#FF8282"/>
              <stop offset="100%" stop-color="#E178ED" />
            </linearGradient>
          </defs>
          <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
        </svg>

        <span>Manage my recipes</span>
      </a>
      <!--Boton del perfil-->
      <a (click)="cambiarSeccion('manage-user')" class="btn" [class.active-btn]="seccionActiva === 'manage-user'">
      <svg width="277" height="62">
          <defs>
            <linearGradient id="grad1">
              <stop offset="0%" stop-color="#8A1919"/>
              <stop offset="100%" stop-color="#13450E" />
            </linearGradient>
          </defs>
          <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
        </svg>

        <span>My profile</span>
      </a>
      <div class="footer"><p>© 2026 Salchipapa Con Lechona S.A.S. - All rights reserved</p>

      </div>
    </nav>
  </aside>
  <main class="contenido-derecha">
    <!--Sección principal-->
    <div *ngIf="seccionActiva === 'dashboard'">

   <h1>
 🍎Today's Macronutrients Intake Goal🍎

</h1>
<!--Tabla de ingesta de macronutrientes-->
      <table class="tabla-macros">
        <thead>
        <tr>
          <th>Macronutrient</th>
          <th>Total intake</th>
          <th>Consumed intake</th>
          <th>Missing intake</th>
        </tr>
        </thead>

        <tr>
          <th>🥞Calories</th>
          <td><strong>{{ usuario?.caloria | number:'1.0-2' }} kcal</strong></td>
          <td><strong>{{ totalCaloriasConsumidas | number:'1.0-2' }} kcal</strong></td>
          <td [class.meta-cumplida]="caloriasFaltantes === 0"><strong>{{ caloriasFaltantes | number:'1.0-2' }} kcal</strong></td>
        </tr>
        <tr>
          <th>🥑Fats</th>
          <td><strong>{{ usuario?.grasa | number:'1.0-2' }} g</strong></td>
          <td><strong>{{ totalGrasasConsumidas | number:'1.0-2' }} g</strong></td>
          <td [class.meta-cumplida]="grasasFaltantes === 0"><strong>{{ grasasFaltantes | number:'1.0-2' }} g</strong></td>
        </tr>
        <tr>
          <th>🥨Carbohydrates</th>
          <td><strong>{{ usuario?.carbohidrato | number:'1.0-2' }} g</strong></td>
          <td><strong>{{ totalCarbohidratosConsumidos | number:'1.0-2' }} g</strong></td>
          <td [class.meta-cumplida]="carbohidratosFaltantes === 0"><strong>{{ carbohidratosFaltantes | number:'1.0-2' }} g</strong></td>
        </tr>
        <tr>
          <th>🍗Proteins</th>
          <td><strong>{{ usuario?.proteina | number:'1.0-2' }} g</strong></td>
          <td><strong>{{ totalProteinasConsumidas | number:'1.0-2' }} g</strong></td>
          <td [class.meta-cumplida]="proteinasFaltantes === 0"><strong>{{ proteinasFaltantes | number:'1.0-2' }} g</strong></td>
        </tr>
        <tr>
          <th>🧁Sugars</th>
          <td><strong>{{ usuario?.azucar | number:'1.0-2' }} g</strong></td>
          <td><strong>{{ totalAzucarConsumidas | number:'1.0-2' }} g</strong></td>
          <td [class.meta-cumplida]="azucarFaltantes === 0"><strong>{{ azucarFaltantes | number:'1.0-2' }} g</strong></td>
        </tr>

      </table>
<!--Contenedores de comidas del dia -->
<div class="lista-comidas">
  <!--Desayuno-->
<div class="contenedor-comidas">
  <div class="boton-agregar-comida">
    <button (click)="abrirModalComida('BREAKFAST')">+</button>
  </div>
  <div class="titulo-comida">
    <p>Breakfast</p>
  </div>
  <div class="imagen-desayuno">
  </div>
  <div class="informacion-comida">
    <div class="fila-comida-meta">
      <span>Current Intake</span>
    </div>
    <div class="fila-comida"><span>Calories: <strong>{{comidasDelDia['BREAKFAST'].caloria}} kcal</strong></span></div>
    <div class="fila-comida"><span>Fats: <strong>{{comidasDelDia['BREAKFAST'].grasa}}g</strong></span></div>
    <div class="fila-comida"><span>Carbohydrates: <strong>{{comidasDelDia['BREAKFAST'].carbohidrato}}g</strong></span></div>
    <div class="fila-comida"><span>Proteins: <strong>{{comidasDelDia['BREAKFAST'].proteina}}g</strong></span></div>
    <div class="fila-comida"><span>Sugars: <strong>{{comidasDelDia['BREAKFAST'].azucar}}g</strong></span></div>
</div>
</div>
  <!--Almuerzo-->
  <div class="contenedor-comidas">
    <div class="boton-agregar-comida">
      <button (click)="abrirModalComida('LUNCH')">+</button>
    </div>
    <div class="titulo-comida">
      <p>Lunch</p>
    </div>
    <div class="imagen-almuerzo">
    </div>
    <div class="informacion-comida">

      <div class="fila-comida-meta"><span>Current Intake</span></div>
      <div class="fila-comida"><span>Calories: <strong>{{comidasDelDia['LUNCH'].caloria}} kcal</strong></span></div>
      <div class="fila-comida"><span>Fats: <strong>{{comidasDelDia['LUNCH'].grasa}}g</strong></span></div>
      <div class="fila-comida"><span>Carbohydrates: <strong>{{comidasDelDia['LUNCH'].carbohidrato}}g</strong></span></div>
      <div class="fila-comida"><span>Proteins: <strong>{{comidasDelDia['LUNCH'].proteina}}g</strong></span></div>
      <div class="fila-comida"><span>Sugars: <strong>{{comidasDelDia['LUNCH'].azucar}}g</strong></span></div>
    </div>

  </div>
  <!--Comida-->
  <div class="contenedor-comidas">
    <div class="boton-agregar-comida">
      <button (click)="abrirModalComida('DINNER')">+</button>
    </div>
    <div class="titulo-comida">
      <p>Dinner</p>
    </div>
    <div class="imagen-cena">
    </div>
    <div class="informacion-comida">
      <div class="fila-comida-meta">
        <span>Current Intake</span>
      </div>
      <div class="fila-comida"><span>Calories: <strong>{{comidasDelDia['DINNER'].caloria}} kcal</strong></span></div>
      <div class="fila-comida"><span>Fats: <strong>{{comidasDelDia['DINNER'].grasa}}g</strong></span></div>
      <div class="fila-comida"><span>Carbohydrates: <strong>{{comidasDelDia['DINNER'].carbohidrato}}g</strong></span></div>
      <div class="fila-comida"><span>Proteins: <strong>{{comidasDelDia['DINNER'].proteina}}g</strong></span></div>
      <div class="fila-comida"><span>Sugars: <strong>{{comidasDelDia['DINNER'].azucar}}g</strong></span></div>

    </div>

  </div>
  <!--Snacks-->
  <div class="contenedor-comidas">
    <div class="boton-agregar-comida">
      <button (click)="abrirModalComida('SNACKS')">+</button>
    </div>
    <div class="titulo-comida">
      <p>Snacks</p>
    </div>
    <div class="imagen-snacks">
    </div>
    <div class="informacion-comida">
    <div class="fila-comida-meta">
      <span>Current Intake</span>
    </div>
      <div class="fila-comida"><span>Calories: <strong>{{comidasDelDia['SNACKS'].caloria}} kcal</strong></span></div>
      <div class="fila-comida"><span>Fats: <strong>{{comidasDelDia['SNACKS'].grasa}}g</strong></span></div>
      <div class="fila-comida"><span>Carbohydrates: <strong>{{comidasDelDia['SNACKS'].carbohidrato}}g</strong></span></div>
      <div class="fila-comida"><span>Proteins: <strong>{{comidasDelDia['SNACKS'].proteina}}g</strong></span></div>
      <div class="fila-comida"><span>Sugars: <strong>{{comidasDelDia['SNACKS'].azucar}}g</strong></span></div>
    </div>

  </div>
</div>
    </div>
    <div class="modal-flotante" *ngIf="mostrarModalComida">
      <div class="modal-contenedor">
        <h3 class="modal-titulo">Select the recipes you'd like to add</h3>
        <p class="modal-subtitulo">Adding to: <span>{{ tipoComidaSeleccionadaModal }}</span></p>

        <div class="selector-recetas">
          <select multiple [(ngModel)]="recetasSeleccionadasIds" class="estilo-select-recetas">
            <option *ngFor="let receta of listaRecetasDisponibles" [value]="receta.idReceta">
              {{ receta.nombre }} ({{ receta.caloria }} kcal)
            </option>
          </select>
          <small class="ayuda-mensaje">To select multiple recipes hold CTRL</small>
        </div>

        <div class="modal-botones">
          <button class="btn-cancelar" (click)="cerrarModalComida()">Cancel</button>
          <button class="btn-guardar" (click)="guardarRecetasEnComida()">Add Recipe(s)</button>
        </div>
      </div>
    </div>

    <!--Libro de recetas-->
    <div *ngIf="seccionActiva === 'recipe-book'" class="seccion-contenido">
      <h1>🍎Lujuma's Recipe Book🍎</h1>
      <div class="contenedor-principal-receta">
        <div class="contenedor-boton-receta">
          <button class="btn-circular">&lt;</button>
        </div>
      <div class="contenedor-receta">
        <div class="imagen-libro-receta">
        </div>
      </div>
      <div class="contenedor-boton-receta">
        <button class="btn-circular">&gt;</button>
      </div>
      </div>
    </div>
    <!--Generar reporte-->

    <!--Calendario-->

    <!--Administrar mis alimentos-->

    <div *ngIf="seccionActiva === 'manage-food'" class="seccion-contenido">

      <h1>🍎Your Foods🍎</h1>

      <div class="contenedor-alimento">
        <div class="contenedor-alimento-contenido">
          <h2>😉🥞Fill your food information🍗🥨</h2>

          <div class="formulario-comida">

            <div class="fila-form">
              <label>Name 🥓🥑</label>
              <input type="text" class="datos-ingreso" [(ngModel)]="nuevoAlimento.nombre">
            </div>

            <div class="fila-form">
              <label>State 🍵</label>
              <select class="datos-ingreso" [(ngModel)]="estadoAlimentoSeleccionado">   <option value="solido">It's a food</option>
                <option value="liquido">It's a drink</option>
              </select>

            </div>

            <div class="fila-form">
              <label>Sugars 🍫</label>
              <div class="input-con-unidad">
                <input type="number" class="datos-ingreso" [(ngModel)]="nuevoAlimento.azucar">   <span class="unidad">g</span>
              </div>

            </div>

            <div class="fila-form">
              <label>Calories 🍜</label>
              <div class="input-con-unidad">
                <input type="number" class="datos-ingreso" [(ngModel)]="nuevoAlimento.caloria">   <span class="unidad">kcal</span>
              </div>
            </div>

            <div class="fila-form">
              <label>Fats 🥑</label>
              <div class="input-con-unidad">
                <input type="number" class="datos-ingreso" [(ngModel)]="nuevoAlimento.grasa">   <span class="unidad">g</span>
              </div>
            </div>

            <div class="fila-form">
              <label>Carbohydrates 🍚</label>
              <div class="input-con-unidad">
                <input type="number" class="datos-ingreso" [(ngModel)]="nuevoAlimento.carbohidrato">  <span class="unidad">g</span>
              </div>
            </div>

            <div class="fila-form">
              <label>Protein 🥩</label>
              <div class="input-con-unidad">
                <input type="number" class="datos-ingreso" [(ngModel)]="nuevoAlimento.proteina">  <span class="unidad">g</span>
              </div>
            </div>

            <p class="nota-formulario">All foods are defined for a portion of 100g (drinks 100ml)</p>

            <div class="contenedor-boton-centro">
              <button class="btn-guardar" (click)="registrarNuevoAlimento()">Save</button>    </div>
          </div>
        </div>
      </div>
    </div>

    <!--Administrar mis recetas-->
    <div *ngIf="seccionActiva === 'manage-recipe'" class="seccion-contenido">
      <h1>🍎 Your Recipes 🍎</h1>

      <div class="contenedor-alimento">
        <div class="contenedor-alimento-contenido">
          <h2>😉🥞 Fill your recipe information 🍗🥨</h2>

          <div class="formulario-comida">

            <div class="fila-form">
              <label>Name 🥓🥑</label>
              <input type="text" class="datos-ingreso" [(ngModel)]="nombreReceta" placeholder="e.g., Protein Pancakes">
            </div>

            <div class="fila-form">
              <label>Select ingredients 🛒</label>
              <select class="datos-ingreso" [(ngModel)]="idAlimentoSeleccionadoActual" (change)="alimentoCambioSelect()">
                <option value="" disabled selected>-- Choose a food to add --</option>
                <option *ngFor="let alimento of alimentosFiltradosParaSelect" [value]="alimento.idAlimento">
                  {{ alimento.nombre }} ({{ alimento.caloria }} kcal / 100g)
                </option>
              </select>
            </div>

            <div class="contenedor-alimentos-recetas" *ngIf="alimentosAgregadosAReceta.length > 0">
              <p class="subtitulo-alimentos-recetas">Ingredients in this recipe:</p>
              <div class="lista-alimentos-recetas">
            <span class="alimento-alimentos-recetas" *ngFor="let item of alimentosAgregadosAReceta">
              {{ item.nombre }}
              <button class="btn-remover-alimentos-recetas" (click)="removerAlimentoDeReceta(item)">×</button>
            </span>
              </div>
            </div>

            <div class="contenedor-boton-centro" style="margin-top: 25px;">
              <button class="btn-guardar" (click)="registrarNuevaReceta()">Save Recipe</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--Mi perfil-->
    <div *ngIf="seccionActiva === 'manage-user'" class="seccion-contenido">
    <h1>🍎My Profile🍎</h1>
    <div class="contenedor-usuario">
      <div class="contenedor-usuario-contenido">

  </div>
</div>

    </div>




  </main>
</div>
