<label class="logo"></label>
<!--Linea de progres-->
<h1>So glad to start this journey with you</h1>
<div class="grid-progreso">
  <div class="linea"></div>
  <div class="circulo">1</div>
  <div class="circulo">2</div>
  <div class="circulo">3</div>

</div>
<!--Formulario de recoleccion de datos del usuario-->
<div class="contenedor-formulario1">
@if(pasoActual===1){
<!--Nombre-->
<form name="formualrio-datos-personales1">

<div class="grupo-formulario">
  <label for="name">🍎What's your first name?</label>
  <input type="text" name="primerNombre" [(ngModel)]="registroData.primerNombre" class="datos-ingreso"></div>
  <div class="grupo-formulario">
    <label for="second-name">🍎What's your second name?</label>
    <input type="text" name="segundoNombre" [(ngModel)]="registroData.segundoNombre" class="datos-ingreso"></div>
  <div class="grupo-formulario">
    <label for="lastname">🍎What's your first lastname?</label>
    <input type="text" name="primerApellido" [(ngModel)]="registroData.primerApellido" class="datos-ingreso"></div>
  <div class="grupo-formulario">
    <label for="second-lastname">🍎What's your second lastname?</label>
    <input type="text" name="segundoApellido"[(ngModel)]="registroData.segundoApellido"  class="datos-ingreso"></div>
<!--Fecha de nacimiento-->
<div class="grupo-formulario">
  <label for="datepicker">🎂Select your birth date </label>
  <input type="date" name="fechaNacimiento" [(ngModel)]="registroData.fechaNacimiento" class="datos-ingreso"></div>
<!--Documento-->
<div class="grupo-formulario2">
  <label>🪪Enter your id type</label>
  <div class="datos-ingreso2">
  <select [(ngModel)]="registroData.tipoDocumento" name="tipoDocumento" class="tipo-documento" id="tipo-documento" name="tipo-documento">
    <option value="CC">C.C</option>
    <option value="FC">F.C</option>
    <option value="IC">I.C</option>
  </select>
  <input class="numero-documento" type="number" name="numeroDocumento" [(ngModel)]="registroData.numeroDocumento" placeholder="Number">
</div>
</div>
<!--Altura-->
<div class="grupo-formulario">
  <label for="altura">🍎Enter your height</label>
  <div class="grupo-input">
  <input type="number" name="altura" [(ngModel)]="registroData.altura">
    <span>cm</span>
</div>
</div>
<!--Peso-->
<div class="grupo-formulario">
  <label for="peso">🍎Enter your weight</label>
  <div class="grupo-input">
  <input type="number" name="peso" [(ngModel)]="registroData.peso">
    <span>kg</span>
</div>
</div>
<!--Boton de siguiente-->
  <div class="centrado-boton">
    <button type="button" class="boton-siguiente" (click)="siguientePaso()">Next</button>
  </div>
</form>
}
</div>
<!--Paso 2 de datos de conatcto-->
@if(pasoActual===2){
<form name="formulario-datos-personales2">
<!--Apartado para el correo electronico-->
<div class="apartado-email">
  <label for="email">📧‍‍️Enter your email</label>
  <input type="email" name="correo" [(ngModel)]="correoInput">
</div>
<!--Apartado para el telefono-->
  <div class="apartado-telefono">
    <label for="telefono">📞Enter your phone number</label>
    <div class="controles-telefono">
    <select name="country_code"[(ngModel)]="codigoPaisInput">
      <option value="+93">Afganistán (+93)</option>
      <option value="+355">Albania (+355)</option>
      <option value="+49">Alemania (+49)</option>
      <option value="+376">Andorra (+376)</option>
      <option value="+244">Angola (+244)</option>
      <option value="+1-268">Antigua y Barbuda (+1-268)</option>
      <option value="+966">Arabia Saudita (+966)</option>
      <option value="+213">Argelia (+213)</option>
      <option value="+54">Argentina (+54)</option>
      <option value="+374">Armenia (+374)</option>
      <option value="+61">Australia (+61)</option>
      <option value="+43">Austria (+43)</option>
      <option value="+994">Azerbaiyán (+994)</option>
      <option value="+1-242">Bahamas (+1-242)</option>
      <option value="+973">Baréin (+973)</option>
      <option value="+880">Bangladés (+880)</option>
      <option value="+1-246">Barbados (+1-246)</option>
      <option value="+32">Bélgica (+32)</option>
      <option value="+501">Belice (+501)</option>
      <option value="+229">Benín (+229)</option>
      <option value="+975">Bután (+975)</option>
      <option value="+375">Bielorrusia (+375)</option>
      <option value="+591">Bolivia (+591)</option>
      <option value="+387">Bosnia y Herzegovina (+387)</option>
      <option value="+267">Botsuana (+267)</option>
      <option value="+55">Brasil (+55)</option>
      <option value="+673">Brunéi (+673)</option>
      <option value="+359">Bulgaria (+359)</option>
      <option value="+226">Burkina Faso (+226)</option>
      <option value="+257">Burundi (+257)</option>
      <option value="+238">Cabo Verde (+238)</option>
      <option value="+855">Camboya (+855)</option>
      <option value="+237">Camerún (+237)</option>
      <option value="+1">Canadá (+1)</option>
      <option value="+974">Catar (+974)</option>
      <option value="+235">Chad (+235)</option>
      <option value="+56">Chile (+56)</option>
      <option value="+86">China (+86)</option>
      <option value="+357">Chipre (+357)</option>
      <option value="+57">Colombia (+57)</option>
      <option value="+269">Comoras (+269)</option>
      <option value="+242">Congo (+242)</option>
      <option value="+243">Congo (RDC) (+243)</option>
      <option value="+82">Corea del Sur (+82)</option>
      <option value="+506">Costa Rica (+506)</option>
      <option value="+385">Croacia (+385)</option>
      <option value="+53">Cuba (+53)</option>
      <option value="+45">Dinamarca (+45)</option>
      <option value="+1-767">Dominica (+1-767)</option>
      <option value="+593">Ecuador (+593)</option>
      <option value="+20">Egipto (+20)</option>
      <option value="+503">El Salvador (+503)</option>
      <option value="+971">Emiratos Árabes Unidos (+971)</option>
      <option value="+291">Eritrea (+291)</option>
      <option value="+421">Eslovaquia (+421)</option>
      <option value="+386">Eslovenia (+386)</option>
      <option value="+34">España (+34)</option>
      <option value="+1">Estados Unidos (+1)</option>
      <option value="+372">Estonia (+372)</option>
      <option value="+251">Etiopía (+251)</option>
      <option value="+63">Filipinas (+63)</option>
      <option value="+358">Finlandia (+358)</option>
      <option value="+33">Francia (+33)</option>
      <option value="+241">Gabón (+241)</option>
      <option value="+220">Gambia (+220)</option>
      <option value="+995">Georgia (+995)</option>
      <option value="+233">Ghana (+233)</option>
      <option value="+350">Gibraltar (+350)</option>
      <option value="+30">Grecia (+30)</option>
      <option value="+1-473">Granada (+1-473)</option>
      <option value="+502">Guatemala (+502)</option>
      <option value="+224">Guinea (+224)</option>
      <option value="+245">Guinea-Bisáu (+245)</option>
      <option value="+592">Guyana (+592)</option>
      <option value="+509">Haití (+509)</option>
      <option value="+504">Honduras (+504)</option>
      <option value="+36">Hungría (+36)</option>
      <option value="+91">India (+91)</option>
      <option value="+62">Indonesia (+62)</option>
      <option value="+964">Irak (+964)</option>
      <option value="+98">Irán (+98)</option>
      <option value="+353">Irlanda (+353)</option>
      <option value="+354">Islandia (+354)</option>
      <option value="+972">Israel (+972)</option>
      <option value="+39">Italia (+39)</option>
      <option value="+1-876">Jamaica (+1-876)</option>
      <option value="+81">Japón (+81)</option>
      <option value="+962">Jordania (+962)</option>
      <option value="+7">Kazajistán (+7)</option>
      <option value="+254">Kenia (+254)</option>
      <option value="+996">Kirguistán (+996)</option>
      <option value="+686">Kiribati (+686)</option>
      <option value="+965">Kuwait (+965)</option>
      <option value="+856">Laos (+856)</option>
      <option value="+266">Lesoto (+266)</option>
      <option value="+371">Letonia (+371)</option>
      <option value="+961">Líbano (+961)</option>
      <option value="+231">Liberia (+231)</option>
      <option value="+218">Libia (+218)</option>
      <option value="+423">Liechtenstein (+423)</option>
      <option value="+370">Lituania (+370)</option>
      <option value="+352">Luxemburgo (+352)</option>
      <option value="+389">Macedonia del Norte (+389)</option>
      <option value="+261">Madagascar (+261)</option>
      <option value="+60">Malasia (+60)</option>
      <option value="+265">Malaui (+265)</option>
      <option value="+960">Maldivas (+960)</option>
      <option value="+223">Malí (+223)</option>
      <option value="+356">Malta (+356)</option>
      <option value="+212">Marruecos (+212)</option>
      <option value="+230">Mauricio (+230)</option>
      <option value="+222">Mauritania (+222)</option>
      <option value="+52">México (+52)</option>
      <option value="+691">Micronesia (+691)</option>
      <option value="+373">Moldavia (+373)</option>
      <option value="+377">Mónaco (+377)</option>
      <option value="+976">Mongolia (+976)</option>
      <option value="+382">Montenegro (+382)</option>
      <option value="+258">Mozambique (+258)</option>
      <option value="+95">Myanmar (+95)</option>
      <option value="+264">Namibia (+264)</option>
      <option value="+674">Nauru (+674)</option>
      <option value="+977">Nepal (+977)</option>
      <option value="+505">Nicaragua (+505)</option>
      <option value="+227">Níger (+227)</option>
      <option value="+234">Nigeria (+234)</option>
      <option value="+47">Noruega (+47)</option>
      <option value="+64">Nueva Zelanda (+64)</option>
      <option value="+968">Omán (+968)</option>
      <option value="+31">Países Bajos (+31)</option>
      <option value="+92">Pakistán (+92)</option>
      <option value="+680">Palaos (+680)</option>
      <option value="+507">Panamá (+507)</option>
      <option value="+675">Papúa Nueva Guinea (+675)</option>
      <option value="+595">Paraguay (+595)</option>
      <option value="+51">Perú (+51)</option>
      <option value="+48">Polonia (+48)</option>
      <option value="+351">Portugal (+351)</option>
      <option value="+44">Reino Unido (+44)</option>
      <option value="+236">República Centroafricana (+236)</option>
      <option value="+420">República Checa (+420)</option>
      <option value="+1-809">República Dominicana (+1-809)</option>
      <option value="+250">Ruanda (+250)</option>
      <option value="+40">Rumanía (+40)</option>
      <option value="+7">Rusia (+7)</option>
      <option value="+685">Samoa (+685)</option>
      <option value="+378">San Marino (+378)</option>
      <option value="+1-869">San Cristóbal y Nieves (+1-869)</option>
      <option value="+1-758">Santa Lucía (+1-758)</option>
      <option value="+239">Santo Tomé y Príncipe (+239)</option>
      <option value="+221">Senegal (+221)</option>
      <option value="+381">Serbia (+381)</option>
      <option value="+248">Seychelles (+248)</option>
      <option value="+232">Sierra Leona (+232)</option>
      <option value="+65">Singapur (+65)</option>
      <option value="+963">Siria (+963)</option>
      <option value="+252">Somalia (+252)</option>
      <option value="+94">Sri Lanka (+94)</option>
      <option value="+268">Esuatini (+268)</option>
      <option value="+27">Sudáfrica (+27)</option>
      <option value="+249">Sudán (+249)</option>
      <option value="+211">Sudán del Sur (+211)</option>
      <option value="+46">Suecia (+46)</option>
      <option value="+41">Suiza (+41)</option>
      <option value="+66">Tailandia (+66)</option>
      <option value="+255">Tanzania (+255)</option>
      <option value="+992">Tayikistán (+992)</option>
      <option value="+670">Timor Oriental (+670)</option>
      <option value="+228">Togo (+228)</option>
      <option value="+676">Tonga (+676)</option>
      <option value="+1-868">Trinidad y Tobago (+1-868)</option>
      <option value="+216">Túnez (+216)</option>
      <option value="+993">Turkmenistán (+993)</option>
      <option value="+90">Turquía (+90)</option>
      <option value="+688">Tuvalu (+688)</option>
      <option value="+380">Ucrania (+380)</option>
      <option value="+256">Uganda (+256)</option>
      <option value="+598">Uruguay (+598)</option>
      <option value="+998">Uzbekistán (+998)</option>
      <option value="+678">Vanuatu (+678)</option>
      <option value="+379">Vaticano (+379)</option>
      <option value="+58">Venezuela (+58)</option>
      <option value="+84">Vietnam (+84)</option>
      <option value="+967">Yemen (+967)</option>
      <option value="+260">Zambia (+260)</option>
      <option value="+263">Zimbabue (+263)</option>
    </select>

    <input type="number" id="telefono" name="telefono" [(ngModel)]="registroData.numeroTelefono">
  </div>
  </div>
  <!--Apartado de estado de estado fisico-->
  <div class="apartado-estado-fisico">
    <label for="estado-fisico">🏃Which one describes the most your level of physical activity?</label>
    <select class="estado-fisico" [(ngModel)]="registroData.nivelActividadFisica" name="nivelActividadFisica">
      <option value="SEDENTARY">Sedentary</option>
      <option value="MILD">Mild</option>
      <option value="MODERATE">Moderate</option>
      <option value="ACTIVE">Active</option>
      <option value="INTENSE">Intense</option>
    </select>
  </div>
  <div class="vaso"></div>
  <div class="centrado-boton">
    <button type="button" class="boton-siguiente" (click)="siguientePaso()">Next</button>
  </div>

</form>

}
@if (pasoActual===3){
  <form name="apartado-habitos">
    <!--Apartado de ingesta del agua-->
  <div class="vaso"></div>
    <div class="apartado-agua">
      <label for="ingesta-agua">🫗️️How mucho water (mml) do you usually drink through the day</label>
      <div class="grupo-input">
        <input type="number" name="aguaDiaria" [(ngModel)]="registroData.aguaDiaria">
        <span>ml</span>
      </div>
    </div>
    <!--Apartado de horas de sueño-->
    <div class="horas-suenio">
      <label for="horas-suenio">💤How much hours of sleep do you have regularly?</label>
      <div class="grupo-input">
        <input type="number" name="horaSuenio" [(ngModel)]="registroData.horaSuenio">
        <span>h</span>
      </div>
    </div>
    <!--Apartado de pasos diarios-->
    <div class="pasos-diarios">
      <label for="pasos-diarios">🏃‍How much daily steps you do regularly (per day)?</label>
      <div class="grupo-input">
        <input type="number" name="pasoDiario" [(ngModel)]="registroData.pasoDiario">
        <span>steps/day</span>
      </div>
    </div>
    <!--Apartado de horas de actividad fisica-->
    <div class="horas-actividad-fisica">
      <label for="horas-actividad-fisica">🤸‍♀️How much hours of physical activity you do daily?</label>
      <div class="grupo-input">
        <input type="number" name="horaActividadDiaria" [(ngModel)]="registroData.horaActividadDiaria">
        <span>h</span>
      </div>
    </div>
    <!--Boton que envia los datos del usuario-->
    <div class="centrado-boton">
      <button type="button" class="boton-siguiente" (click)="siguientePaso()">Next</button>
    </div>
  </form>

}
<!--Paso final de mostrar el consentimiento al usaurio-->
@if (mostrarConsentimiento) {
  <div class="contenedor-consentimiento-principal">
    <div class="contenedor-consentimiento">

      <div class="texto-consentimiento">
        <h2>LUJUMA'S CONSENT OF TERMS AND CONDITIONS</h2>
        <p><strong>Last updated:</strong> May 16, 2026</p>

        <h3>AGREEMENT TO OUR LEGAL TERMS</h3>

        <p>By accessing and using our Services, you agree to these Terms and Conditions. If you do not agree, you must immediately stop using the Services.</p>

        <p><strong>Salchipapa con Lechona S.A.S.</strong> (“Company”, “we”, “us”, or “our”) operates <strong>Lujuma</strong>, a platform for tracking macronutrient consumption.</p>

        <p>The Services are intended for users who are at least 13 years old. If you are a minor (under 18 in most jurisdictions), you must have permission and supervision from a parent or guardian.</p>

        <h3>1. Intellectual Property</h3>
        <p>All content, design, logos, and materials on Lujuma are the property of the Company or properly licensed. Copying, reproducing, distributing, or using them for commercial purposes without our express permission is strictly prohibited.</p>

        <h3>2. User Registration</h3>
        <p>You must provide accurate and complete information during registration and keep it updated. You are responsible for maintaining the confidentiality of your password and all activities under your account.</p>

        <h3>3. Prohibited Activities</h3>
        <p>You may not use the platform to:</p>
        <ul>
          <li>Engage in any illegal or unauthorized activities</li>
          <li>Upload false, harmful, offensive, harassing, or defamatory content</li>
          <li>Systematically extract or scrape data</li>
          <li>Attempt to hack, interfere with, or disrupt the Service</li>
          <li>Use bots, scripts, or automated tools</li>
        </ul>

        <h3>4. User Content</h3>
        <p>Any content you submit remains yours, but you grant us a license to use it for operating and improving the Service. You agree not to upload content that violates third-party rights.</p>

        <h3>5. Privacy</h3>
        <p>Your use of the Services is also governed by our Privacy Policy.</p>

        <h3>6. Limitation of Liability</h3>
        <p>The Services are provided “as is”. We are not liable for indirect damages, data loss, or service interruptions.</p>

        <h3>7. Termination</h3>
        <p>We reserve the right to suspend or terminate your account at any time if you breach these Terms.</p>

        <h3>8. Governing Law</h3>
        <p>These Terms are governed by the laws of Colombia. Any disputes will be resolved in the courts of Colombia.</p>

        <h3>9. Contact Us</h3>
        <p><strong>Salchipapa con Lechona S.A.S.</strong><br>
          Email: <a href="mailto:salchipapaconlechona@gmail.com">salchipapaconlechona&#64;gmail.com</a></p>

        <p>We recommend you keep a copy of these Terms for your records.</p>

        <br>
        <p>This Terms and Conditions was created using <a href="https://termly.io/products/terms-and-conditions-generator/" target="_blank" rel="noopener">Termly's Terms and Conditions Generator</a>.</p>
      </div>

      <div class="opciones-consentimiento">
        <label class="checkbox">
          <input type="checkbox"  name="terminoAceptado" [(ngModel)]="terminoAceptado">
          <span>I accept the terms and conditions</span>
        </label>

        <button
          type="button"
          class="btn-finish"
          [disabled]="!terminoAceptado"
          (click)="finalizarRegistro()">
          Finish
        </button>
      </div>
    </div>
  </div>
}
